# Artefatos de compilação
*.exe
*.o
*.out

# Arquivos gerados pelo sistema
*.huff
*_recuperado.*
*.mp4
*.mp3
*.png
texto_recuperado.txt
arquivo_secreto.huff

# Outros
# Permitindo .vscode para que todos os devs peguem a build pronta
